.form-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .form-field {
      width: 100%;
      input {
        width: 100%;
      }
      textarea {
        width: 100%;
      }
      .error-text {
        color: red;
        font-size: 10px;
        margin: 10px;
        margin-bottom: 0px;
      }
    }
    p-button {
      width: 100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.card {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
  img {
    width: 8rem;
  }
}
