.list-container {
  .items {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
    .task-item {
      width: 100%;
    }
  }
  .empty {
    text-align: center;
  }
  &__filter {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    margin-top: 0px;
    flex-wrap: wrap;
    .p-button {
      font-size: 10px !important;
    }
    .p-selectbutton .p-buttonset .p-component {
      font-size: 10px !important;
    }
    .p-button .p-button-label {
      font-size: 10px !important;
    }
  }
}

@media (min-width: 768px) {
  .list-container .items {
    overflow: hidden;
    overflow-y: auto;

    scrollbar-gutter: stable;
    max-height: calc(100vh - 5rem);
  }
}

@media (min-width: 1200px) {
  .list-container .items {
    overflow: hidden;
    overflow-y: auto;

    scrollbar-gutter: stable;
    max-height: calc(100vh - 5rem);
  }
}
