<div class="list-container">
  <div class="list-container__filter">
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="pi pi-search" />
      <input
        type="text"
        pInputText
        placeholder="Search"
        [(ngModel)]="search"
        (input)="applyFilter()"
      />
    </p-iconField>
    <p-selectButton
      [options]="filterOptions"
      [(ngModel)]="filterStatus"
      [multiple]="true"
      optionLabel="name"
      optionValue="value"
      (onChange)="applyFilter()"
    />
  </div>
  <ng-container *ngIf="filteredTasks$ | async as tasks">
    <div *ngIf="tasks.length; else emptyMessage" class="items">
      <div *ngFor="let task of tasks; trackBy: trackByTask" class="task-item">
        <app-task-card [task]="task"></app-task-card>
      </div>
    </div>
    <ng-template #emptyMessage>
      <p class="empty">No hay tareas disponibles.</p>
    </ng-template>
  </ng-container>
</div>

<p-toast />
