.auth {
  margin: auto;
  min-height: 100vh;
  width: 60%;
  transition: ease all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 700px) {
  .auth {
    width: 90%;
  }
}
