@import "primeng/resources/themes/aura-light-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

$dark-primary-text: #373737;
$light-primary-text: white;
$background-color: #f7f7f7;
$font-size: 12px;

$orange-atom-palette: (
  50: #fff7e0,
  100: #ffeab1,
  200: #ffdc7e,
  300: #ffd04a,
  400: #ffc41f,
  500: #ffba00,
  600: #ffac00,
  700: #ff9900,
  800: #ff8700,
  900: #ff6600,
  A100: #ffd180,
  A200: #ffab40,
  A400: #ff9100,
  A700: #ff6d00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: #8c6700,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: black,
  ),
);

$blue-accent-palette: (
  50: #e3f3fe,
  100: #bbdfff,
  200: #8eccff,
  300: #5fb8ff,
  400: #38a8ff,
  500: #0099ff,
  600: #048bf1,
  700: #0478dd,
  800: #0467cb,
  900: #0248ac,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

.p-inputtext {
  border: 1px solid transparent;
}

h1 {
  font-size: 2.98rem;
}

h2 {
  font-size: 2.48rem;
}

h3 {
  font-size: 2.07rem;
}

h4 {
  font-size: 1.72rem;
}

h5 {
  font-size: 1.44rem;
}

h6 {
  font-size: 1.2rem;
}

small {
  font-size: 0.83rem;
}

input,
textarea {
  font-size: 12px;
}

html {
  scrollbar-gutter: stable;
}
